
<script src="~/Scripts/Common/generic.common.methods.js"></script>
<script src="~/Scripts/Master/Vehicle/vehicle-search-method.js"></script>
<script src="~/Scripts/Master/Vehicle/vehicle-search-event.js"></script>
<script src="~/Scripts/Common/generic.common.events.js"></script>


<div class="content-area p-y-1">

    <div class="container-fluid">


        <div class="row">

            <div class="col-md-6">

                <h4>Vehicle</h4>
                <ol class="breadcrumb no-bg m-b-1">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Vehicle</a></li>
                    <li class="breadcrumb-item active">Search</li>
                </ol>

            </div>

            <div class="col-md-6">
                <div class="form-group" style="text-align: right; padding-top: 8px;">
                    <span data-toggle="tooltip" data-placement="left" title="" data-color="tooltip-info" data-original-title="Help / Info">
                        <a href="#" class="btn btn-info btn-circle waves-effect waves-light" data-toggle="modal" data-target=".help_info">
                            <i class="ti-info"></i>
                        </a>
                    </span>
                </div>
            </div>

        </div>

        <div class="card">
            <form id="frmSearchVehicle" role="form">
                <input type="hidden" id="hdnSearchVehicleId" value="" name="Vehicle.VehicleId">
                <h5 class="card-header">
                    <span style="vertical-align: middle;" class="s-icon"><i class="ti-search"></i></span> &nbsp; Vehicle Search
                </h5>
                <div class="card-block p-t-0 p-b-0">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Vehicle Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="Vehicle.VehicleName" placeholder="Enter vehicle name" maxlength="50">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="drpVehicleBrand">Vehicle Brand</label>
                            <div class="input-group">
                                <select class="form-control" name="Vehicle.VehicleBrandId" id="drpVehicleBrand">

                                    <option value="0">Select vehicle brand</option>
                                    @foreach (var item in Model.VehicleBrandId)
                                    {
                                        if (Model.Vehicle.VehicleBrandId == item.VehicleBrandId)
                                        {
                                            <option value="@item.VehicleBrandId" selected="selected">@item.VehicleBrandName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.VehicleBrandId">@item.VehicleBrandName</option>
                                        }
                                    }
                                </select>
                                <span class="input-group-addon">
                                    <a href="/VehicleBrand/Index" target="_blank"> <i class="fa fa-bold"></i></a>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="drpVehicleType">Vehicle Type</label>
                            <div class="input-group">
                                <select class="form-control" name="Vehicle.VehicleTypeId" id="drpVehicleType">
                                    <option value="0">Select vehicle type</option>
                                    @foreach (var item in Model.VehicleTypeId)
                                    {
                                        if (Model.Vehicle.VehicleTypeId == item.VehicleTypeId)
                                        {
                                            <option value="@item.VehicleTypeId" selected="selected">@item.VehicleTypeName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.VehicleTypeId">@item.VehicleTypeName</option>
                                        }
                                    }

                                </select>
                                <span class="input-group-addon">
                                    <a href="/VehicleType/Index" target="_blank"> <i class="fa fa-medium"></i></a>
                                </span>
                            </div>
                        </div>

                    </div>


                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <br />
                                <button type="button" id="btnSearchVehicle" class="btn btn-purple btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-search"></i></span>Search</button>
                                <button type="reset" id="btnResetVehicle" class="btn btn-warning btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-reload"></i></span>Reset</button>
                            </div>
                        </div>

                    </div>
                  
                </div>
            </form>
        </div>

        <div class="card">

            <h5 class="card-header">
                <span style="vertical-align: middle;" class="s-icon"><i class="ti-view-list-alt"></i></span> &nbsp; Vehicle Listing
            </h5>
            <form role="form" id="frmSearchVehicle">
                <input type="hidden" id="hdnSearchVehicleId" name="Vehicle.VehicleId" value="" />
                <div class="card-block p-a-0">
                    <div class="row m-a-0">
                        <div class="col-md-12 p-a-0">

                            <div class="btn-group" style="float: right; padding: 2px 6px;">
                                <a style="border-top-left-radius: 20px; border-bottom-left-radius: 20px;" href="Index" class="btn btn-outline-info w-min-sm m-b-0-25 waves-effect waves-light">Create</a>
                                <button type="button" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px;" class="btn btn-outline-info w-min-sm m-b-0-25 waves-effect waves-light" id="btnEditVehicle">Edit</button>
                                
                                
                            </div>

                            <table class="table m-b-0" id="tblVehicle" data-current-page=""></table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade help_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span style="vertical-align: middle;" class="s-icon"><i class="ti-info-alt"></i></span> &nbsp; Help / Info
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled" style="padding-left: 5px;">
                            <li><i class="fa fa-circle-o text-info mr-0-5"></i> Vehicle Search page is used to Search a Vehicle based on the filters selected. eg. Vehicle Name.</li>
                            <li>
                                <i class="fa fa-circle-o text-info mr-0-5"></i> Vehicle Search page contains following functionality.
                                <ul class="list-unstyled mb-1" style="padding-left: 15px;">
                                    <li> <button type="button" class="btn btn-info label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-search"></i></span>Search</button> - On click of Search button, It displays the Vehicles listing based on the filters selected.</li>
                                    <li> <a class="btn btn-warning label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-reload"></i></span>Reset</a> - On click of Reset button, It resets the data to its Original values.</li>
                                    <li><a style="border-top-left-radius: 20px; border-bottom-left-radius: 20px;" href="Index" class="btn btn-outline-info w-min-sm m-b-0-25 waves-effect waves-light">Create</a> - On click of Create button, It Redirects to the Vehicle Creation Page.</li>
                                    <li>
                                        <b>RadioButton</b>
                                        <label class="custom-control custom-radio">
                                            <input id="radio1" name="radio" type="radio" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>          - On Click Of Radio Button of Vehicle Listing, Edit Button gets Enabled.
                                    </li>
                                    <li><a style="border-top-right-radius: 20px; border-bottom-right-radius: 20px;" href="#" class="btn btn-outline-info w-min-sm m-b-0-25 waves-effect waves-light">Edit</a> - On click of Edit button, It Redirect to the Edit Page of Vehicle with all Vehicle Data of specefic Radio Button selected. </li>
                                    <li><a href="#" class="btn btn-outline-info w-min-sm m-b-0-25 waves-effect waves-light">View</a> - On click of View button, It dispalys a Popup with all Vehicles Data in it. </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>