@model Lohana.Models.Tariff.HotelTariffTaxUpdation.HotelTariffTaxUpdationViewModel
@using LohanaBusinessEntities.Common;


<table class="table m-b-0" id="tblFormulaDetails">
    <thead class="thead-inverse">
        <tr>
            <th width="10%">Charge Type</th>
            <th width="10%">Cal On</th>
            <th width="10%">Percentage</th>
            <th width="10%">Calculated Price</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.LstTaxFormulaCharges != null && Model.LstTaxFormulaCharges.Count > 0)
        {

            foreach (var item in Model.LstTaxFormulaCharges)
            {
                <tr>

                    <td data-isstandard="false" data-chargeid="@item.ChargesId">
                        @item.ChargesName
                        <input type="hidden" id="hdnHotelTariffChargesDetailsId" name="HotelTariffPrice.HotelTariffChargesDetailsId" value="@item.HotelTariffCharge.HotelTariffChargesDetailsId" />
                    </td>
                    <td data-chargeformula="@item.ChargeFormula">@item.ChargeFormulaText</td>
                    <td>
                        <span class="percentage">@(@item.HotelTariffCharge.Percentage == 0 ? "" : @item.HotelTariffCharge.Percentage.ToString())</span>
                    </td>
                    <td><span class="calculatedprice">@(item.HotelTariffCharge.CalculatedPrice == 0 ? "" : item.HotelTariffCharge.CalculatedPrice.ToString())</span></td>
                </tr>
            }
        }

        <tr>
            <td></td>
            <td></td>
            <td>Total Tax Price:</td>
            <td><span class="totaltax">@Model.HotelTariffPrice.TotalTaxPrice</span></td>
        </tr>

    </tbody>
</table>
