@model Lohana.Models.Tariff.HotelTariffTaxUpdation.HotelTariffTaxUpdationViewModel
@using LohanaBusinessEntities.Common;

<script src="~/Scripts/Common/generic.common.methods.js"></script>
<script src="~/Scripts/Common/generic.common.events.js"></script>

<script src="~/Scripts/Tariff/HotelTariffTaxUpdation/hotel-tariff-tax-updation-search-methods.js"></script>
<script src="~/Scripts/Tariff/HotelTariffTaxUpdation/hotel-tariff-tax-updation-search-events.js"></script>



<!-- Content -->

<div class="content-area p-y-1">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <h4>Hotel Tariff Tax Updation</h4>
                    <ol class="breadcrumb no-bg m-b-1">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Hotel Tariff Tax Updation</a></li>
                        <li class="breadcrumb-item active">Search</li>
                    </ol>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" style="text-align: right; padding-top: 8px;">
                    <span data-toggle="tooltip" data-placement="left" title="" data-color="tooltip-info" data-original-title="Help / Info">
                        <a href="#" class="btn btn-info btn-circle waves-effect waves-light" data-toggle="modal" data-target=".help_info">
                            <i class="ti-info"></i>
                        </a>
                    </span>
                </div>
            </div>

        </div>
  
        <div class="row">

            <div class="box box-block bg-white">

                <form role="form" id="frmHotelTariffTaxUpdation">

                    <div class="card">

                        <h5 class="card-header">
                            <span style="vertical-align: middle;" class="s-icon"><i class="ti-wand"></i></span> &nbsp; Hotel Tariff Tax Updation Search
                        </h5>

                        <div class="card-block p-t-0 p-b-0">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="drpVendor" style="color: #333" class="">Vendor Name</label>
                                        <div class="input-group">
                                            <select class="form-control input-sm" id="drpVendor" name="HotelTariffTax.VendorId">
                                                <option value="0">Select vendor</option>
                                                @foreach (var item in Model.Vendors)
                                                {
                                                    if (Model.HotelTariffTax.VendorId == item.VendorId)
                                                    {
                                                <option value="@item.VendorId" selected="selected">@item.VendorName</option>
                                                    }
                                                    else
                                                    {
                                                <option value="@item.VendorId">@item.VendorName</option>
                                                    }
                                                }
                                            </select>
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="drpHotel" style="color: #333" class="">Hotel Name</label>
                                        <div class="input-group">
                                            <select class="form-control input-sm" id="drpHotel" name="HotelTariffTax.HotelId">
                                                <option value="0">Select hotel</option>
                                                @foreach (var item in Model.Hotels)
                                                {
                                                    if (Model.HotelTariffTax.HotelId == item.HotelId)
                                                    {
                                                <option value="@item.HotelId" selected="selected">@item.HotelName</option>
                                                    }
                                                    else
                                                    {
                                                <option value="@item.HotelId">@item.HotelName</option>
                                                    }
                                                }
                                            </select>
                                            <span class="input-group-addon">
                                                <i class="fa fa-hotel"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="drpRoomType" style="color: #333" class="">Room Type</label>
                                        <div class="input-group">
                                            <select class="form-control input-sm" id="drpRoomType" name="HotelTariffTax.RoomTypeId">
                                                <option value="0">Select room type</option>
                                                @foreach (var item in Model.RoomTypes)
                                                {
                                                    if (Model.HotelTariffTax.RoomTypeId == item.RoomTypeId)
                                                    {
                                                        <option value="@item.RoomTypeId" selected="selected">@item.RoomTypeName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.RoomTypeId">@item.RoomTypeName</option>
                                                    }
                                                }
                                            </select>
                                            <span class="input-group-addon">
                                                <i class="fa fa-building"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">

                                        <label for="drpMeal" style="color: #333" class="">Meal</label>

                                        <div class="input-group">
                                            <select class="form-control input-sm" id="drpMeal" name="HotelTariffTax.MealId">
                                                <option value="0">Select meal</option>
                                                @foreach (var item in Model.Meals)
                                                {
                                                    if (Model.HotelTariffTax.MealId == item.MealId)
                                                    {
                                                <option value="@item.MealId" selected="selected">@item.MealName</option>
                                                    }
                                                    else
                                                    {
                                                <option value="@item.MealId">@item.MealName</option>
                                                    }
                                                }

                                            </select>
                                            <span class="input-group-addon">
                                                <i class="fa fa-cutlery"></i>
                                            </span>

                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Select Formula</label>
                                        <select class="form-control" id="drpTaxFormula">
                                            <option value="0" selected>Select tax formula</option>
                                            @foreach (var item in Model.LstTaxFormula)
                                            {
                                                <option value="@item.TaxFormulaId">@item.TaxFormulaName</option>
                                            }
                                        </select>
                                     
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-8">
                                    <label>From Date - To Date</label>
                                    <div class="input-daterange input-group from-to-date" id="date-range">
                                        <input type="text" class="form-control" id="txtFromDate" name="HotelTariffTax.FromDate" placeholder="From date">
                                        <span class="input-group-addon bg-primary b-0 text-white">to</span>
                                        <input type="text" class="form-control" id="txtToDate" name="HotelTariffTax.ToDate" placeholder="To date">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <br />
                        <div class="row" style="text-align: center;">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" id="btnSearchHotelTariffTax" class="btn btn-purple btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-save"></i></span>Search</button>
                                    <button type="button" id="btnUpdateHotelTariffTax" class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light" data-toggle="modal" data-target=".updatetax"><span class="btn-label"><i class="ti-save"></i></span>Update Tax</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>

                <form id="frmSearchTaxFormulaCharges">

                    <input type="hidden" id="hdnHotelTariffTaxChargesId" name="HotelTariffPrice.HotelTariffTaxChargesId" />

                    <div class="card">

                        <h5 class="card-header">
                            <span style="vertical-align: middle;" class="s-icon"><i class="ti-wand"></i></span> &nbsp; Hotel Tariff Tax Updation Listing
                        </h5>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="overflow-x-auto">
                                    <table class="table m-b-0" id="tblHotelTariffTaxDetails">
                                        <thead class="thead-inverse">
                                            <tr></tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>




@*Update Tax Charges Details*@

<div class="modal fade updatetax"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span style="vertical-align: middle;" class="s-icon"><i class="ti-view-list-alt"></i></span>&nbsp; Update Tax Charges Details
                </h4>
            </div>
            <div class="modal-body">

                @{Html.RenderPartial("_UpdatePriceDetails", Model);}

                <div class="row" style="text-align: center;">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" id="btnUpdateTaxFormula" class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-save"></i></span>Update Tax Formula</button>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*View Tax Charges Details*@ 

<div class="modal fade viewtaxcharges" id="TaxChargesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span style="vertical-align: middle;" class="s-icon"><i class="ti-view-list-alt"></i></span>&nbsp; View Tax Charges Details
                </h4>
            </div>
            <div class="modal-body">

                @{Html.RenderPartial("_PriceDetails", Model);}


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<script>

    $(function () {
        $('.from-to-date').datepicker({
            toggleActive: true
        });
    });

</script>












