@model Lohana.Models.Master.HotelViewModel
@using LohanaBusinessEntities.Common;



<script src="~/Scripts/Master/Hotel/hotel-room-type-validations.js"></script>

<script src="~/Scripts/Master/Hotel/hotel-room-type-methods.js"></script>

<script src="~/Scripts/Master/Hotel/hotel-room-type-events.js"></script>


<div id="room" class="block">

    <form id="frmHotelRoomTypeDetails">

        <input type="hidden" id="hdnHotelRoomTypeId" name="HotelRoomType.HotelId" value="@Model.Hotel.HotelId" />

        <div class="block">

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="drpRoom" style="color: #333" class="">Room Type</label>
                        <div class="input-group">
                            <select class="form-control input-sm" id="drpRoom" name="Hotel.RoomType">
                                <option value="0">Select room type</option>
                                @foreach(var item in Model.RoomTypes)
											  {
												  if(Model.Hotel.RoomTypeId == item.RoomTypeId)
												  {
                                            <option value="@item.RoomTypeId" selected="selected">@item.RoomTypeName</option>
												  }
												  else
												  {
                                            <option value="@item.RoomTypeId">@item.RoomTypeName</option>
												  }
											  }
                            </select>
                            <span class="input-group-addon">
                                <a href="/RoomType/Index" target="_blank"> <i class="fa fa-building"></i></a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>No of Rooms</label>
                        <input type="text" id="txtnoOfRooms" class="form-control input-sm" maxlength="10" name="Hotel.noOfRooms" placeholder="Enter number of rooms">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Occupancy</label>
                        <input type="text" id="txtoccupancy" class="form-control input-sm" name="Hotel.occupancy" maxlength="10" placeholder="Enter occupancy">
                    </div>
                </div>

            </div>

            <div class="row" style="text-align: center;">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="button" id="btnAddHotelRoomType" class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-save"></i></span>Save</button>
                        <button type="reset" id="btnDeleteHotelRoomType" class="btn btn-danger btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light" disabled><span class="btn-label"><i class="ti-close"></i></span>Delete</button>
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>

<div class="card" id="divRoomTypeList">

    <h5 class="card-header">
        <span style="vertical-align: middle;" class="s-icon"><i class="ti-wand"></i></span>&nbsp; Room Type Listing
    </h5>
    <form role="form" id="frmSearchHotelRoomType">

        <input type="hidden" id="hdnSearchHotelRoomTypeId" value="" name="HotelRoomTypeFilter.HotelRoomTypeDetailsId" />

        <div class="card-block p-t-0 p-b-0">

            <div class="overflow-x-auto">
                <table class="table m-b-0" id="tblHotelRoomType"></table>
            </div>
        </div>
    </form>
</div>

