@model Lohana.Models.Booking.BookingViewModel
@using LohanaBusinessEntities.Common;


@{
    ViewBag.Title = "PaymentReceipt";
}

<script src="~/Scripts/jquery.printElement.js"></script>
<script src="~/Scripts/Booking/Invoice_method.js"></script>
<script src="~/Scripts/Booking/Invoice_event.js"></script>
<script src="~/Scripts/Common/generic.common.events.js"></script>
<script src="~/Scripts/Common/generic.common.methods.js"></script>


<html>
<body>


    <div class="content-area p-y-1">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <h4>Payment Receipt</h4>
                    <ol class="breadcrumb no-bg m-b-1">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Payment</a></li>
                        <li class="breadcrumb-item"><a href="#">PaymentReceipt</a></li>
                    </ol>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="text-align: right; padding-top: 8px;">
                        <span data-toggle="tooltip" data-placement="left" title="" data-color="tooltip-info" data-original-title="Help / Info">
                            <a href="#" class="btn btn-info btn-circle waves-effect waves-light" data-toggle="modal" data-target=".help_info">
                                <i class="ti-info"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>

            <form id="frmPaymentReceipt" role="form">
                <input type="hidden" id="hdnBook_Id" value="@Model.BookingCartDetailsInfo.BookingId" name="BookingCartDetailsInfo.BookingId" />
                @*<input type="hidden" id="hdnBook_Id" value="@Model.PaymentDetailsInfo.BookingId" name="PaymentDetailsInfo.BookingId" />*@
                <input type="hidden" id="hdnPaymentReceivableId" value="@Model.PaymentDetailsInfo.PaymentReceivableId" name="PaymentDetailsInfo.PaymentReceivableId" />

                <table cellpadding="5" style="border-collapse: collapse; width: 100%;background-color:white" border="1" id="receipttblPrint">
                    @if (Model.PaymentHistoryList.Count > 0)
                    {
                        <thead style="background: #eee;">
                            <tr>
                                <th colspan="6" style="text-align: left;">Payment Receipt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4" style="text-align: right; width: 70%; border-right: none;">
                                    <p><b>Receipt No:</b></p>
                                </td>
                                <td colspan="2" style="width: 30%; border-left: none;">
                                    <p><b>@Model.PaymentHistoryList[0].ReceiptNo</b></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: right; width: 70%; border-right: none;">
                                    <p><b>Receipt Date:</b></p>
                                </td>
                                <td colspan="2" style="width: 30%; border-left: none;">
                                    <p><b>@Model.PaymentHistoryList[0].CreatedDate</b></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align: left;">
                                    <p><b>Invoice No: @Model.PaymentHistoryList[0].InvoiceNo</b></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="width: 50%;">
                                    <p><b>Name Mr./Mrs.: @Model.PaymentHistoryList[0].CustomerName</b></p>
                                </td>
                                <td colspan="3" style="width: 50%;">
                                    <p><b>Address: @Model.PaymentHistoryList[0].Address</b></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="width: 50%;">
                                    <p><b>Email Id: @Model.PaymentHistoryList[0].EmailId</b></p>
                                </td>
                                <td colspan="3" style="width: 50%;">
                                    <p><b>Mobile No: @Model.PaymentHistoryList[0].MobileNo</b></p>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td style="width: 5%; text-align: center;"><b>#</b></td>
                                <td style="width: 35%; text-align: center;"><b>Bank Name</b></td>
                                <td style="width: 20%; text-align: center;"><b>Payment Mode</b></td>
                                <td style="width: 10%; text-align: center;"><b>Transaction No</b></td>
                                <td style="width: 10%; text-align: center;"><b>Transaction Date</b></td>
                                <td style="width: 20%; text-align: center;"><b>Paid Amount</b></td>
                            </tr>
                            @if (Model.PaymentHistoryList.Count > 0)
                            {
                                int i = 1;

                                foreach (var item in @Model.PaymentHistoryList)
                                {
                                    <tr>
                                        <td style="text-align: center; ">@i</td>
                                        <td style="text-align: center; ">@item.BankName</td>
                                        <td style="text-align: center; ">@item.PaymentModeName</td>
                                        <td style="text-align: center; ">@item.TransactionNo</td>
                                        <td style="text-align: center; ">@item.ReceivableDate</td>
                                        <td style="text-align: right; ">@item.PaidAmount</td>
                                    </tr>
                                    i++;
                                }
                            }

                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="4" style="width: 40%; border-right: none;">
                                    <p><b>Terms and Conditions</b></p>
                                    <p>Thank you for your business. We do expect payment within 21 days, so please process this invoice within that time. There will be a 1.5% interest charge per month on late invoices.</p>
                                </td>
                                <td style="width: 30%; text-align: right; border-right: none; border-left: none; ">
                                    <p>Sub - Total amount:</p>
                                    <p>GST:</p>
                                    <p>Grand Total:</p>
                                </td>
                                <td style="width: 30%; border-left: none;">
                                    <p style="text-align: right; "><b>@Model.PaymentHistoryList[0].PaidAmount/-</b></p>
                                    <p style="text-align: right; "><b>15%</b></p>
                                    <p style="text-align: right; "><b>@Model.PaymentHistoryList[0].PaidAmount/-</b></p>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>

                <div class="card-footer clearfix">
                    <button type="button" class="btn btn-danger label-left pull-xs-right" onclick="javascript: downloadpdf_Receipt();">
                        <span class="btn-label"><i class="ti-download"></i></span>
                        Download
                    </button>
                    <button type="button" class="btn btn-info label-left pull-xs-right m-r-0-5" id="btnReceiptPrint">
                        <span class="btn-label"><i class="ti-printer"></i></span>
                        Print
                    </button>
                </div>

            </form>


        </div>
    </div>
</body>
</html>